body {
  margin: 0px;
  padding: 0px;
  color: gray;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#box {
  text-align: center;
  background-color: rgb(220,220,255);
  width: 100%;
  height: 400px;
  overflow: auto;
}


h1 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  color: white;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 1.2em;
}


h3 {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}

#optionBoxes {
 background-color:rgb(220,220,220);
 height: 300px;
 width: 300px;
 margin: 20px 50px 20px 50px;
 overflow: auto;
 border-radius: 10px;
 display: inline-block;
 text-align: center;
 padding: 5px;
 clear: float;
}

#form {
  margin: 20px;
  padding: 20px;
  overflow: auto;
}

.header {
  background-image: url("../assets/headerImg-01.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
}

.header img {
  max-width:100%;
  max-height:100%;
}

.logoBox {
  display: inline-block;
  height: 180px;
  width: 180px;
  margin: 10px;
  float: left;
}

.logo {
  display: inline-block;
  margin: 20px;
  float: left;
}

.footer {
  color: white;
  background-color: black;
  height: 100px;
  clear: both;
  padding: 20px;
}

#package-type {
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 10px;
  background-color: #AED1F9;
  border-radius: 10px;
}

#package-duration {
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 10px;
  background-color: #AED1F9;
  border-radius: 10px;
}

#wholfin {
  display: inline-block;
  text-align: center;
  margin: 20px;
  padding: 5px;
  background-color: #AED1F9;
  border-radius: 10px;
}
#confirm {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: #AED1F9;
  border-radius: 10px;
}
.page2 {
  display: inline-block;
  text-align: left;
  margin: 20px;
  padding: 10px;
  background-color: #AED1F9;
  border-radius: 10px;
  margin-left: -300px;

}
button {
  float: right;
  height: 45px;
  width: 100px;
  padding: 2px;
  margin: 20px;
  background-color: orange;
}

#textbox {
  width: 1000px;
  height: 180px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: red;
}
<<<<<<< HEAD
p {
  padding-bottom: 4px;
}
=======

#thumbs {
  width: 200px;
  background-color: black;
}

.thumbImg {
  height: 50px;
  width: 150px;
  background-color: blue;
}

>>>>>>> ce7e17635e5d4cc26f07bc92fd132c01fb42f298
#optionWrapper {
  margin: 0 auto;
  text-align: center;
}

.left h1 {
  color: black;
}

.clearfix {
  visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.left {
  margin-left: 20px;
}

.footer {
  color: white;
  background-color: black;
  height: 100px;
  padding: 20px;
  clear: both;
}

.columns {
  display: inline-block;
  float: left;
}


